body {
    background-color: rgb(100, 94, 126);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 20px;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-weight: bolder;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}
a:link {
    color: rgb(32, 32, 32)
}
a:hover {
    color:rgb(85, 85, 85)
}